/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

.btn {
    border-radius: 15px;
    border-color: transparent;
    cursor: pointer;
}

/* DISPLAYS */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-grid {
    display: grid;
}

/* APP */
.app {
    align-items: stretch;
}

/* ASIDE */
.aside {
    height: 100vh;
    position: sticky;
    background-color: gainsboro;
    padding: 1rem;
}

.aside .titulo-categorias {
    margin-top: 2rem;
    justify-content: flex-start;
}

.aside .titulo-categorias i {
    margin-left: 1rem;
    cursor: pointer;
}

.aside .lista-categorias {
    list-style-type: none;
}

.aside .lista-categorias .item-categorias {
    width: 150px;
    height: 30px;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    background-color: palevioletred;
}

.active {

}

/* MAIN */
.main {
    width: 100%;
    margin: 1rem;
    border-radius: 20px;
    overflow-y: scroll hidden;
    background-color: gainsboro;
}

/* HEADER */
.header {
    width: 100%;
    height: 100px;
    position: sticky;
    border-radius: 20px 20px 0 0;
    background-color: gray;
}

.header h1 {
    margin-left: 1rem;
}

.header .btn-agregar-tarea {
    width: 150px;
    height: 55px;
    margin-right: 1rem;
    background-color: paleturquoise;
}

.header .btn-agregar-tarea:hover {
    background-color: aqua;
}

/* CARDS */
.card-container {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    gap: 20px;
    padding: 1.6rem;
}

.card {
    border-radius: 10px;
    background-color: white;
}

.card > div, .card > p {
    padding: 1rem;
}

.titulo-tarea {
    border-radius: 10px 10px 0 0;
    background-color: palevioletred;
}

.acciones-tarea {
    justify-content: flex-end;
}

.acciones-tarea i {
    margin-right: 0.6rem;
    opacity: 0.25;
    cursor: pointer;
}

.acciones-tarea .done {
    width: 60px;
    height: 20px;
    background-color: gainsboro;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #111111bd;
    transition: opacity .6s .7s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .7s;
}

.modal-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    border-radius: 6px;
    background-color: #fff;
    transform: var(--transform);
    transition: var(--transition);
}

.modal-bienvenida {
    height: 300px;
    text-align: center;
}

.modal-agg-tarea {
    height: 600px;
    grid-template-areas: "agg cerrar" "form form";
    grid-template-columns: repeat(2, 1fr);
}

.modal-agg-tarea > h3 {
    grid-area: agg;
}

.modal-agg-tarea > a{
    grid-area: cerrar;
    width: 10px;
    height: 10px;
    text-align: right;
    text-decoration: none;
    color: black;
}

.modal-agg-tarea > form {
    grid-area: form;
    flex-direction: column;
}